body{
    margin: 0;
    padding: 0;
    background-color: #def0d8;
}

/* header */
header{
    background-color: #a0d18c;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    margin: 15px;
}
nav a {
    text-decoration: none;
    color: #617a57;
    font-weight: bolder;
}
.nav_btn:hover {
    background-color: #496da6;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
}
.IDphoto {
    width: 320px;
    height: 320px;
    overflow: hidden;
}
.IDphoto img:hover {
    transform: scale(1.2);
    transition: transform 1s;
}
img{
    width: 320px;
    height: 280px;
    border-radius: 10px;
}

/* main */
main {
    margin: 32px;
    padding-left: 10px;
}
#name {
    font-size: 45px;
    padding-left: 87px;
}
#profile {
    display: grid; /* 2차원으로 화면 나누기 */
    grid-template-columns: 1fr 1fr;
}
section h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* footer */
footer {
    background-color: #a0d18c;
    padding: 20px;
}
footer p {
    margin: 5px;
    padding: 1px;
    color: #617a57;
    font-weight: bolder;
}

@media (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}